@import "styles/colors";

.container {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid $stroke-1;
  border-radius: 2px;

  &_horizontal {
    transform: rotate(90deg);
  }

  app-icon {
    margin-top: 1px;
    width: 16px;
    height: 16px;
  }
}
